<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="#" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Admin Paneli
            </h3>
        </a>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="button.html" class="dropdown-item">Buttons</a>
                    <a href="typography.html" class="dropdown-item">Typography</a>
                    <a href="element.html" class="dropdown-item">Other Elements</a>
                </div>
            </div>
            <a href="/UILayout/Index" target="_blank" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Siteye Git</a>
            <a href="/Anasayfa/Index" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Anasayfa</a>
            <a href="/Hizmetler/Index" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Hizmetler</a>
            <a href="/Ornekler/Index" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Örnekler</a><a href="/Login/End/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Çıkış Yap</a>
        </div>
    </nav>
</div>
