<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">EKİBİMİZ</h2>
            <h3 class="section-subheading text-muted">Biz Kimiz ?</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Templates/agency/assets/img/emiralp.jpg" alt="..." />
                    <h4>Emir Alp Esmergül</h4>
                    <p class="text-muted">Junior .NET Backend Developer</p>
                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Templates/agency/assets/img/eray.jpg" alt="..." />
                    <h4>Eray Yıldırım</h4>
                    <p class="text-muted">Junior Image Processing Engineer</p>
                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Templates/agency/assets/img/enes.jpg" alt="..." />
                    <h4>Enes Aydın</h4>
                    <p class="text-muted">Junior Frontend Developer</p>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>
