@model List<Yapay_Zeka_Projesi_Arayüzü.Models.Hizmetler>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<table class="table table-bordered table-hover" style="background-color:#191c25">

    <tr>
        <th>Resim</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.ResimUrl"  style="display:block; margin-left:auto;margin-right:auto;width:200px;height:150px"/></td>
            <td>@item.Baslik</td>
            <td>@item.Aciklama</td>
            <td><a class="btn btn-outline-danger" href="/Hizmetler/Sil/@item.Hizmetlerid">Sil</a></td>
            <td><a class="btn btn-outline-info" href="/Hizmetler/Update/@item.Hizmetlerid">Güncelle</a></td>
        </tr>
            }

    </table>
    <td><a class="btn btn-outline-success" style="background-color: #191c25" href="/Hizmetler/Add">Yeni Hizmet Ekle</a></td>



